{% extends 'budget/base.html' %}

{% block content %}
<div class="login-container">
        <h2>Enter App</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit">Unlock</button>
        </form>
        
        {% if form.errors %}
            <p style="color: red;">Invalid email or PIN. Please try again.</p>
        {% endif %}
    </div>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
{% endblock content %}